In [16]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression

In [17]:
data=pd.read_csv("DataSets-master/500_Person_Gender_Height_Weight_Index.csv")

In [18]:
data.head()

   Gender  Height  Weight  Index
0    Male     174      96      4
1    Male     189      87      2
2  Female     185     110      4
3  Female     195     104      3
4    Male     149      61      3

NameError: name 'data' is not defined

In [19]:
#male=0 female=1
gender = {'Male': 0,'Female': 1} 
data.Gender = [gender[item] for item in data.Gender] 
data.head()

   Gender  Height  Weight  Index
0       0     174      96      4
1       0     189      87      2
2       1     185     110      4
3       1     195     104      3
4       0     149      61      3

In [20]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 4 columns):
Gender    500 non-null int64
Height    500 non-null int64
Weight    500 non-null int64
Index     500 non-null int64
dtypes: int64(4)
memory usage: 15.7 KB

In [21]:
inp=data.iloc[:,0:3].values
out=data.iloc[:,3].values

In [22]:
train_x,test_x,train_y,test_y=train_test_split(inp,out,test_size=0.3,random_state=0)

In [23]:
cf=LinearRegression()
cf.fit(train_x,train_y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [24]:
pred_op=cf.predict(test_x)

In [27]:
test_x

array([[  1, 178, 154],
       [  0, 183, 147],
       [  0, 166, 107],
       [  0, 159, 140],
       [  0, 152, 132],
       [  1, 153, 107],
       [  0, 188,  99],
       [  1, 179, 150],
       [  0, 181, 105],
       [  1, 168, 140],
       [  0, 166,  61],
       [  0, 153,  70],
       [  1, 167,  58],
       [  0, 149, 100],
       [  0, 174, 138],
       [  1, 185, 102],
       [  0, 161, 115],
       [  0, 174,  90],
       [  1, 155, 111],
       [  0, 144,  80],
       [  1, 150,  87],
       [  1, 185,  94],
       [  0, 178,  85],
       [  1, 181, 106],
       [  0, 185,  76],
       [  0, 188,  65],
       [  1, 153, 149],
       [  1, 186, 127],
       [  0, 142,  69],
       [  1, 177,  81],
       [  1, 153,  77],
       [  0, 144, 108],
       [  1, 158, 149],
       [  0, 154, 100],
       [  0, 174,  95],
       [  1, 198,  50],
       [  1, 180, 156],
       [  1, 172,  90],
       [  0, 184, 153],
       [  1, 174,  65],
       [  0, 153, 104],
       [  1, 188, 122],
       [  0, 169, 110],
       [  0, 183, 138],
       [  0, 165, 104],
       [  0, 189,  87],
       [  1, 196, 159],
       [  1, 148,  54],
       [  0, 162, 130],
       [  0, 161, 155],
       [  1, 195, 147],
       [  0, 187, 136],
       [  0, 179,  83],
       [  0, 140,  79],
       [  1, 158, 153],
       [  1, 192, 101],
       [  1, 167,  85],
       [  1, 196, 131],
       [  0, 188,  54],
       [  1, 154,  92],
       [  1, 176, 122],
       [  1, 179, 114],
       [  1, 160,  83],
       [  1, 180,  59],
       [  0, 182, 108],
       [  0, 157,  74],
       [  0, 195,  81],
       [  0, 198, 109],
       [  0, 152, 103],
       [  1, 197, 154],
       [  0, 180, 149],
       [  1, 179, 158],
       [  1, 155,  71],
       [  1, 188, 115],
       [  1, 185, 119],
       [  1, 151, 158],
       [  0, 147,  84],
       [  0, 199, 156],
       [  1, 146, 147],
       [  0, 160, 156],
       [  1, 186, 140],
       [  0, 170,  81],
       [  0, 183, 131],
       [  0, 159, 109],
       [  1, 164, 160],
       [  1, 199,  92],
       [  0, 140, 146],
       [  0, 168, 160],
       [  0, 178, 138],
       [  0, 196, 116],
       [  1, 173,  82],
       [  0, 182,  70],
       [  0, 176,  87],
       [  0, 184,  57],
       [  0, 188, 100],
       [  0, 185,  60],
       [  0, 172,  92],
       [  1, 172, 116],
       [  1, 191,  54],
       [  0, 191,  96],
       [  0, 159, 154],
       [  1, 167, 153],
       [  0, 178, 117],
       [  1, 167,  79],
       [  0, 147,  92],
       [  0, 181, 154],
       [  1, 192,  90],
       [  0, 181, 141],
       [  0, 151,  82],
       [  1, 179, 103],
       [  1, 187, 121],
       [  0, 154, 111],
       [  0, 194, 108],
       [  0, 174,  90],
       [  1, 145, 141],
       [  1, 150,  97],
       [  1, 150, 144],
       [  1, 192, 139],
       [  1, 150,  84],
       [  1, 161, 134],
       [  1, 178,  79],
       [  0, 140, 152],
       [  1, 171, 155],
       [  0, 141,  80],
       [  1, 161, 154],
       [  1, 146, 110],
       [  0, 143,  88],
       [  0, 186,  68],
       [  1, 180,  70],
       [  1, 177, 101],
       [  0, 173, 111],
       [  0, 179, 130],
       [  1, 140,  76],
       [  1, 187,  89],
       [  1, 165,  83],
       [  1, 164,  59],
       [  0, 154,  81],
       [  1, 175,  83],
       [  0, 182,  50],
       [  1, 167, 135],
       [  0, 141,  94],
       [  0, 163, 110],
       [  1, 185, 100],
       [  0, 190,  95],
       [  0, 198, 136],
       [  0, 149,  61],
       [  0, 170,  95],
       [  0, 142,  71],
       [  0, 151, 114],
       [  0, 189, 104]])

In [28]:
test_y

array([5, 5, 4, 5, 5, 5, 3, 5, 4, 5, 2, 3, 2, 5, 5, 3, 5, 3, 5, 4, 4, 3,
       3, 4, 2, 1, 5, 4, 4, 3, 4, 5, 5, 5, 4, 0, 5, 4, 5, 2, 5, 4, 4, 5,
       4, 2, 5, 2, 5, 5, 4, 4, 3, 5, 5, 3, 4, 4, 0, 4, 4, 4, 4, 1, 4, 4,
       2, 3, 5, 4, 5, 5, 3, 4, 4, 5, 4, 4, 5, 5, 5, 3, 4, 5, 5, 2, 5, 5,
       5, 4, 2, 2, 3, 1, 3, 1, 4, 4, 0, 3, 5, 5, 4, 3, 5, 5, 2, 5, 4, 4,
       4, 5, 3, 3, 5, 5, 5, 4, 4, 5, 2, 5, 5, 5, 5, 5, 5, 2, 2, 4, 4, 5,
       4, 3, 4, 2, 4, 2, 0, 5, 5, 5, 3, 3, 4, 3, 4, 4, 5, 3])

In [30]:
test_x[1]

array([  0, 183, 147])

In [31]:
test_y[1]

5

In [32]:
pred_op[1]

4.678212929677489